<div class="container">
  <div class="leftContainer">
    <h1>Dog Breeds</h1>
    <ul class="dog-breeds" *ngFor="let dog of dogs">
      <li class="dog-breeds" (click)="loadImage(dog.breed)">{{ dog.breed }}</li>
    </ul>
  </div>
  <div class="rightContainer">
    <h1>
      {{(subBreedHeader)}}
    </h1>
    <ul class="dog-breed-type" *ngFor="let value of selectedBreed">
      <li class="dog-breed-type">{{ value }}</li>
    </ul>
  </div>
  <img class="imgContainer" [src]="(imagesource)" />
</div>



